<mat-grid-list class="title" cols="1" rowHeight="100px">
  <mat-grid-tile>EDUCATION</mat-grid-tile>
</mat-grid-list>

<div class="cont">
  <div class="introduction jumbotron shadow p-3 mb-5 bg-white rounded">
    As an self-taught programmer I have learned with several online curses, as
    well as with different books. Here is the summary of those that I have used
    more:
  </div>
  <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
    <section>
      <img src="assets/img/freecodecamp.jpg" height="50px" weight="300px" class="center" style="border-radius: 10px;">
      <ul>
        <li>Responsive Web Design Certification (300 hours)</li>
        <li>Javascript Algorithms And Data Structures Certification (300 hours)</li>
        <li>Front End Libraries Certification (300 hours)</li>
        <li>Data Visualization Certification (300 hours)</li>
        <li>Apis And Microservices Certification (300 hours)</li>
        <li>Information Security And Quality Assurance Certification (300 hours)</li>
      </ul>
    </section>
  </div>
  <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
    <section>
        <img src="assets/img/udemy.jpg" height="50px" weight="172px" class="center">
      <ul>
        <li>JavaScript basics for beginners.</li>
        <li>Amazing JavaScript code examples from scratch DOM coding.</li>
        <li>Bootstrap unleash the power rapid web development.</li>
        <li>Beginners guide to JavaScript HTML interaction.</li>
        <li>jQuery crash course: learn the essentials of jQuery fast.</li>
        <li>Basics of JavaScript coding.</li>
        <li>Angular 7 The Complete Guide.</li>
      </ul>
    </section>
  </div>
  <div class="codeacademy online-courses jumbotron shadow p-3 mb-5 bg-white rounded">
      <section>
          <img src="assets/img/codeacademy.jpg" height="50px" weight="238px" class="center">
        <ul>
          <li>Learn Python 2</li>
        </ul>
      </section>
    </div>
  <div class="books jumbotron shadow p-3 mb-5 bg-white rounded">
      <section>
        <h3>Books</h3>
        <ul>
          <li>You don't know JavaScript – 6 vols by Kyle Simpson</li>
          <li>Interactive data visualization for the web (D3) by Scott Murray</li>
          <li>Learning Vue.js 2 by Olga Filipova</li>
          <li>The road to learn React by Robyn Wieruch</li>
          <li>Learning node by Shelley Powers</li>
          <li>Python. Notes for professionals by GoalKicker.com</li>
          <li>Angular 2+. Notes for professionals by GoalKicker.com</li>
        </ul>
      </section>
    </div>
  
  
</div>
