.title {
  font-size: 50px;
  font-weight: 200;
  color: beige;
  background-color: darkslategray;
}

.jumbotron {
  background-color: white;
}

.cont {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0px 100px;
  padding: 50px 100px 0px 100px;
}

.introduction {
  color: darkslategray;
  font-weight: 400;
  font-size: 30px;
  grid-column-start: span 2;
}

.codeacademy {
  align-self: start;
}

h3 {
  color: white;
  text-align: center;
  background-color: darkslategray;
  font-weight: 200;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style: none
}

li::before {
  content: "• ";
  font-size: 24px;
  color: darkslategray;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1100px) {
  .cont {
    grid-template-columns: auto;
    padding: 50px 15px 0px 15px;
  }

  .introduction {
    grid-column-start: span 1;
    font-size: 20px;
  }
}
