<div class="main-container">
  <mat-grid-list class="title" cols="1" rowHeight="100px">
    <mat-grid-tile>ABOUT</mat-grid-tile>
  </mat-grid-list>
  
  <div>
    <div class="jumbotron shadow p-3 mb-5 bg-white rounded">
        <hr style="border: 1px solid darkslategray">
      <p class="lead">
        The qualities that best define me are creativity, the desire to improve and
        the ability to set goals and fight for them with enthusiasm.
      </p>
      <hr style="border: 1px solid darkslategray">
      <br>
      <p class="description">
        I was long time ago when I started in IT. So far, I have worked as
        a hardware technician, support and systems administration, being part of
        large teams or alone carrying all the responsibility. I have been in big and
        small companies, and in all of these areas I have felt comfortable and I
        have been able to adapt. Meanwhile I was training as a sculptor, an activity
        that I had always liked. I decided to set myself this challenge and I ended
        up working on it.
      </p>
      <br>
      <p class="description">
        After a few years developing this work, the desire to return to technology,
        in this case programming, came again to me. It was the next goal I set
        myself, so I began to learn, this time as a self-taught. It has been a long and
        arduous road, but it has certainly been worth it. This portfolio is a
        witness to it, I hope you enjoy it.
      </p>
      <br>
    </div>
  </div>
</div>


