<mat-grid-list class="title" cols="1" rowHeight="100px">
  <mat-grid-tile>CONTACT</mat-grid-tile>
</mat-grid-list>

<div class="logos row">
  <a mat-button matTooltipClass="my-tooltip" matTooltip="SEND A MAIL" class="logo" href="mailto:roberto2925@hotmail.com"><img class="img img-fluid" src="assets/img/mail_contact.png"></a>
  <a mat-button matTooltipClass="my-tooltip" matTooltip="LINKED IN" class="logo" target="_blank" href="https://www.linkedin.com/in/robertomu%C3%B1ozgarcia-itsupport-systems-webdevelopment/"><img class="img img-fluid" src="assets/img/linkedin_contact.png"></a>
  <a mat-button matTooltipClass="my-tooltip" matTooltip="GITHUB REPOSITORY" class="logo" target="_blank" href="https://github.com/Romugar?tab=repositories"><img class="img img-fluid" src="assets/img/github_contact.png"></a>
  <a mat-button matTooltipClass="my-tooltip" matTooltip="FREECODECAMP PORTFOLIO" class="logo" target="_blank" href="https://www.freecodecamp.org/romugar"><img class="img img-fluid" src="assets/img/freecodecamp_contact.png"></a>
  <a mat-button matTooltipClass="my-tooltip" matTooltip="CODEPEN PUBLIC PENS" class="logo" target="_blank" href="https://codepen.io/Romugar/pens/public/"><img class="img img-fluid" src="assets/img/codepen_contact.png"></a>
</div>
