.error-page {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.intro-text{
  text-align: center;
  color: white;
  position: fixed;
  top: 25%;
  left: 10%;
  right: 10%;
  text-shadow: 2px 2px 5px rgb(36, 36, 36);
  font-family: bitter;
}